<table>
    <tr>
        <th colspan=4>{{localize "sfrpgbb.spell.spells"}}</th>
    </tr>
    <tr>
        <td class="blueRow bottomThickBorder">{{localize "sfrpgbb.spell.firstLevel"}}</td>
        <td class="blueBox bottomThickBorder">{{localize "sfrpgbb.spell.spellSlots"}}</td>
        <td class="blockTitle bottomThickBorder">
            <sup class="superscript">{{localize "sfrpgbb.spell.available"}}</sup><br>
            <input name="data.spells.lvl1.value" value="{{data.spells.lvl1.value}}" type="number" data-dtype="Number"/>
        </td>
        <td class="blockTitle bottomThickBorder">
            <sup class="superscript">{{localize "sfrpgbb.general.total"}}</sup><br>
            <input name="data.spells.lvl1.max" value="{{data.spells.lvl1.max}}" type="number" data-dtype="Number"/>
        </td>
    </tr>
    <tr>
        <td class="blueRow">{{localize "sfrpgbb.spell.secondLevel"}}</td>
        <td class="blueBox">{{localize "sfrpgbb.spell.spellSlots"}}</td>
        <td class="blockTitle>
            <sup class="superscript">{{localize "sfrpgbb.spell.available"}}</sup><br>
            <input name="data.spells.lvl2.value" value="{{data.spells.lvl2.value}}" type="number" data-dtype="Number"/>
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.general.total"}}</sup><br>
            <input name="data.spells.lvl2.max" value="{{data.spells.lvl2.max}}" type="number" data-dtype="Number"/>
        </td>
    </tr>
</table>