<h2 style="text-align: center;">{{localize "sfrpgbb.equipment.itemsAndEquipment"}}</h2>

<ol class="items-list">


    <li class="item flexrow item-header">
        <div class="item-image"><h3>&nbsp;</h3></div>
        <div class="item-name" style="flex-grow: 2;"><h3><b>{{localize "sfrpgbb.equipment.weapon"}}</b></h3></div>
        <div class="item-equipped"><h3>{{localize "sfrpgbb.equipment.equipped"}}</h3></div>
        <div class="item-quantity"><h3>{{localize "sfrpgbb.general.quantity"}}</h3></div>
        <div class="item-controls"><h3>&nbsp;</h3>
            <!-- <a class="item-control item-create" data-tooltip="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a> -->
        </div>
    </li>

    {{#each system.weapons as |item id|}}
    <li class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image">
            <a class="dmg-roll" data-tooltip="{{localize "sfrpgbb.general.clickToRoll"}} {{item.name}} {{localize "sfrpgbb.weapon.damage"}}" data-owner-str="{{../system.abilities.strength.mod}}" data-weapon-name="{{item.name}}" data-weapon-type="{{item.system.weaponType}}" data-damage-type="{{item.system.damageType}}" data-dice={{item.system.damage}} data-melee-damage={{../system.attack.bonus.melee.damageBonus}} data-ranged-damage={{../system.attack.bonus.ranged.damageBonus}}>
                <img class="img-rollable" src="{{item.img}}" data-tooltip="{{localize "sfrpgbb.general.clickToRoll"}} {{item.name}} {{localize "sfrpgbb.weapon.damage"}}" width="36" height="36"/>
            </a>
        </div>
        <div class="item-name" style="flex-grow: 2;"><a class="item-control item-edit" data-tooltip={{localize "sfrpgbb.equipment.editItem"}}><h4 class="item-name">{{item.name}}</h4></a></div>
        <div class="item-equipped"><input type="checkbox" {{checked item.system.equipped}} /></div>
        <div class="item-quantity"><input type="number" value="{{item.system.quantity}}" data-dtype="Number" /></div>
        <div class="item-controls">
            <a class="item-control item-delete" data-tooltip={{localize "sfrpgbb.equipment.deleteItem"}}><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}


    <li class="item flexrow item-header">
        <div class="item-image"><h3>&nbsp;</h3></div>
        <div class="item-name" style="flex-grow: 2;"><h3><b>{{localize "sfrpgbb.equipment.armor"}}</b></h3></div>
        <div class="item-equipped"><h3>{{localize "sfrpgbb.equipment.equipped"}}</h3></div>
        <div class="item-quantity"><h3>{{localize "sfrpgbb.general.quantity"}}</h3></div>
        <div class="item-controls"><h3>&nbsp;</h3>
            <!-- <a class="item-control item-create" data-tooltip="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a> -->
        </div>
    </li>
    {{#each system.armor as |item id|}}
    <li class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" data-tooltip="{{item.name}}" width="36" height="36"/></div>
        <div class="item-name" style="flex-grow: 2;"><a class="item-control item-edit" data-tooltip={{localize "sfrpgbb.equipment.editItem"}}><h4 class="item-name">{{item.name}}</h4></a></div>
        <div class="item-equipped"><input type="checkbox" {{checked item.system.equipped}} /></div>
        <div class="item-quantity"><input type="number" value="{{item.system.quantity}}" data-dtype="Number" /></div>
        <div class="item-controls">
            <a class="item-control item-delete" data-tooltip={{localize "sfrpgbb.equipment.deleteItem"}}><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}


    <li class="item flexrow item-header">
        <div class="item-image"><h3>&nbsp;</h3></div>
        <div class="item-name" style="flex-grow: 2;"><h3><b>{{localize "sfrpgbb.equipment.equipment"}}</b></h3></div>
        <div class="item-equipped"><h3>{{localize "sfrpgbb.equipment.equipped"}}</h3></div>
        <div class="item-quantity"><h3>{{localize "sfrpgbb.general.quantity"}}</h3></div>
        <div class="item-controls"><h3>&nbsp;</h3>
            <!-- <a class="item-control item-create" data-tooltip="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a> -->
        </div>
    </li>
    {{#each system.equipment as |item id|}}
    <li class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" data-tooltip="{{item.name}}" width="36" height="36"/></div>
        <div class="item-name" style="flex-grow: 2;"><a class="item-control item-edit" data-tooltip={{localize "sfrpgbb.equipment.editItem"}}><h4 class="item-name">{{item.name}}</h4></a></div>
        <div class="item-equipped"><input type="checkbox" {{checked item.system.equipped}} /></div>
        <div class="item-quantity"><input type="number" value="{{item.system.quantity}}" data-dtype="Number" /></div>
        <div class="item-controls">
            <a class="item-control item-delete" data-tooltip={{localize "sfrpgbb.equipment.deleteItem"}}><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
</ol>