<table>
    <tr>
        <th colspan="4">Character Information</th>
    </tr>
    <tr>
        <td colspan="3"><input name="actor.name" type="text" value="{{actor.name}}" placeholder={{localize "sfrpgbb.character.name"}} /></td>
        <td><input name="data.information.pronouns" type="text" value="{{data.information.pronouns}}" placeholder={{localize "sfrpgbb.character.pronouns"}} /></td>
    </tr>
    <tr>
        <td><sup class="superscript">{{localize "sfrpgbb.character.race"}}</sup></td>
        <td><sup class="superscript">{{localize "sfrpgbb.character.theme"}}</sup></td>
        <td><sup class="superscript">{{localize "sfrpgbb.general.class"}}</sup></td>
        <td><sup class="superscript">{{localize "sfrpgbb.general.level"}}</sup></td>
    </tr>
    <tr>
        <td colspan="2"><sup class="superscript">{{localize "sfrpgbb.character.alignment"}}</sup></td>
        <td><sup class="superscript">{{localize "sfrpgbb.character.currentXP"}}</sup></td>
        <td><sup class="superscript">{{localize "sfrpgbb.character.nextLevelXP"}}</sup></td>
    </tr>
</table>