<h2 style="text-align: center;">{{localize "sfrpgbb.spell.spells"}}</h2>

<ol class="items-list">


    <li class="item flexrow item-header">
        <div class="item-image"><h3></h3></div>
        <div class="item-name" style="flex-grow: 2;"><h3><b>{{localize "sfrpgbb.spell.zeroLevel"}}</b></h3></div>
        <div class="item-controls">
            <!--<a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add spell</a> -->
        </div>
    </li>
    {{#each system.spellList.zero as |item id|}}
    <li class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/></div>
        <div class="item-name" style="flex-grow: 2;"><a class="item-control item-edit" title="Edit Spell"><h4 class="item-name">{{item.name}}</h4></a></div>
        <div class="item-controls">
            <a class="item-control item-delete" title="Delete Spell"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}


    <li class="item flexrow item-header">
        <div class="item-image"><h3></h3></div>
        <div class="item-name" style="flex-grow: 2;"><h3><b>{{localize "sfrpgbb.spell.firstLevel"}}</b></h3></div>
        <div class="item-controls">
            <!-- <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add spell</a> -->
        </div>
    </li>
    {{#each system.spellList.one as |item id|}}
    <li class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/></div>
        <div class="item-name" style="flex-grow: 2;"><a class="item-control item-edit" title="Edit Spell"><h4 class="item-name">{{item.name}}</h4></a></div>
        <div class="item-controls">
            <a class="item-control item-delete" title="Delete Spell"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}


    <li class="item flexrow item-header">
        <div class="item-image"><h3></h3></div>
        <div class="item-name" style="flex-grow: 2;"><h3><b>{{localize "sfrpgbb.spell.secondLevel"}}</b></h3></div>
        <div class="item-controls">
            <!-- <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add spell</a> -->
        </div>
    </li>
    {{#each system.spellList.two as |item id|}}
    <li class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/></div>
        <div class="item-name" style="flex-grow: 2;"><a class="item-control item-edit" title="Edit Spell"><h4 class="item-name">{{item.name}}</h4></a></div>
        <div class="item-controls">
            <a class="item-control item-delete" title="Delete Spell"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}


</ol>