<table class="blankTable">
    <tr>
        <th colspan="3">{{localize "sfrpgbb.weapon.weaponProficiencies"}}</th>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name="data.attack.proficiency.meleeBasic" id="meleeBasic" {{checked data.attack.proficiency.meleeBasic}} />
            <label for="meleeBasic">{{localize "sfrpgbb.attack.meleeBasic"}}</label>
        </td>
        <td>
            <input type="checkbox" name="data.attack.proficiency.smallArms" id="smallArms" {{checked data.attack.proficiency.smallArms}} />
            <label for="smallArms">{{localize "sfrpgbb.attack.smallArms"}}</label>
        </td>
        <td>
            <input type="checkbox" name="data.attack.proficiency.grenades" id="grenades" {{checked data.attack.proficiency.grenades}} />
            <label for="grenades">{{localize "sfrpgbb.attack.grenades"}}</label>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name="data.attack.proficiency.meleeAdvanced" id="meleeAdvanced" {{checked data.attack.proficiency.meleeAdvanced}} />
            <label for="meleeAdvanced">{{localize "sfrpgbb.attack.meleeAdvanced"}}</label>
        </td>
        <td>
            <input type="checkbox" name="data.attack.proficiency.longArms" id="longArms" {{checked data.attack.proficiency.longArms}} />
            <label for="longArms">{{localize "sfrpgbb.attack.longArms"}}</label>
        </td>
        <td class="superscript">
            (-4 {{localize "sfrpgbb.weapon.notProficientAsterisk"}})
        </td>
    </tr>
</table>