<table>
    <tr>
        <th colspan="2">{{localize "sfrpgbb.ability.abilityMods"}}</th>
        <th colspan="2">{{localize "sfrpgbb.ability.abilityScores"}}</th>
    </tr>
    <tr>
        <td class="rightThickBorder">{{localize "sfrpgbb.ability.str"}}</td>
        <td class="rightThickBorder">{{numberFormat data.abilities.strength.mod decimals=0 sign=true}}</td>
        <td class="rightThickBorder">{{localize "sfrpgbb.ability.strength"}}</td>
        <td><input name="data.abilities.strength.value" type="text" value="{{data.abilities.strength.value}}" data-dtype="Number" /></td>
    </tr>
    <tr>
        <td class="rightThickBorder">{{localize "sfrpgbb.ability.dex"}}</td>
        <td class="rightThickBorder">{{numberFormat data.abilities.dexterity.mod decimals=0 sign=true}}</td>
        <td class="rightThickBorder">{{localize "sfrpgbb.ability.dexterity"}}</td>
        <td><input name="data.abilities.dexterity.value" type="text" value="{{data.abilities.dexterity.value}}" data-dtype="Number" /></td>
    </tr>
    <tr>
        <td class="rightThickBorder">{{localize "sfrpgbb.ability.con"}}</td>
        <td class="rightThickBorder">{{numberFormat data.abilities.constitution.mod decimals=0 sign=true}}</td>
        <td class="rightThickBorder">{{localize "sfrpgbb.ability.constitution"}}</td>
        <td><input name="data.abilities.constitution.value" type="text" value="{{data.abilities.constitution.value}}" data-dtype="Number" /></td>
    </tr>
    <tr>
        <td class="rightThickBorder">{{localize "sfrpgbb.ability.int"}}</td>
        <td class="rightThickBorder">{{numberFormat data.abilities.intelligence.mod decimals=0 sign=true}}</td>
        <td class="rightThickBorder">{{localize "sfrpgbb.ability.intelligence"}}</td>
        <td><input name="data.abilities.intelligence.value" type="text" value="{{data.abilities.intelligence.value}}" data-dtype="Number" /></td>
    </tr>
    <tr>
        <td class="rightThickBorder">{{localize "sfrpgbb.ability.wis"}}</td>
        <td class="rightThickBorder">{{numberFormat data.abilities.wisdom.mod decimals=0 sign=true}}</td>
        <td class="rightThickBorder">{{localize "sfrpgbb.ability.wisdom"}}</td>
        <td><input name="data.abilities.wisdom.value" type="text" value="{{data.abilities.wisdom.value}}" data-dtype="Number" /></td>
    </tr>
    <tr>
        <td class="rightThickBorder">{{localize "sfrpgbb.ability.cha"}}</td>
        <td class="rightThickBorder">{{numberFormat data.abilities.charisma.mod decimals=0 sign=true}}</td>
        <td class="rightThickBorder">{{localize "sfrpgbb.ability.charisma"}}</td>
        <td><input name="data.abilities.charisma.value" type="text" value="{{data.abilities.charisma.value}}" data-dtype="Number" /></td>
    </tr>
</table>