<table>
    <tr>
        <th colspan="4">{{localize "sfrpgbb.defence.defence"}}</th>
    </tr>
    <tr>
        <th colspan="2">{{localize "sfrpgbb.defence.hitPoints"}}</th>
        <th colspan="2">{{localize "sfrpgbb.defence.resolvePoints"}}</th>
    </tr>
    <tr>
        <td>
            <sup class="superscript">{{localize "sfrpgbb.general.current"}}</sup><br>
            <input name="system.defence.hp.value" type="number" value="{{system.defence.hp.value}}" data-dtype="Number" />
        </td>
        <td>
            <sup class="superscript">{{localize "sfrpgbb.general.total"}}</sup><br>
            <input name="system.defence.hp.max" type="number" value="{{system.defence.hp.max}}" data-dtype="Number" />
        </td>
        <td>
            <sup class="superscript">{{localize "sfrpgbb.general.current"}}</sup><br>
            <input name="system.defence.rp.value" type="number" value="{{system.defence.rp.value}}" data-dtype="Number" />
        </td>
        <td>
            <sup class="superscript">{{localize "sfrpgbb.general.total"}}</sup><br>
            <input name="system.defence.rp.max" type="number" value="{{system.defence.rp.max}}" data-dtype="Number" />
        </td>
    </tr>
</table>

<table>
    <tr>
        <td class="blockTitle">
            {{localize "sfrpgbb.defence.armorClassAC"}}
        </td>
        <td class="blueBox rightThickBorder">
            <sup class="superscript">{{localize "sfrpgbb.general.total"}}</sup><br>
            {{numberFormat system.defence.armor.ac decimals=0}}
        </td>
        <td class="blockTitle">
            <br>10
        </td>
        <td class="plus">
            <br>+
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.ability.dex"}}</sup><br>
            {{numberFormat system.abilities.dexterity.mod decimals=0}}
        </td>
        <td class="plus">
            <br>+
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.defence.armor"}}</sup><br>
            {{numberFormat system.defence.armor.armorBonus decimals=0}}
        </td>
        <td class="plus">
            <br>+
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.general.misc"}}</sup><br>
            <input name="system.defence.armor.misc" type="number" style="width: 3em;" value="{{system.defence.armor.misc}}" data-dtype="Number" />
        </td>
    </tr>
    <tr>
        <td class="blockTitle blueRow" colspan=3>
            {{localize "sfrpgbb.defence.armorProficiencies"}}
        </td>
        <td colspan=4>
            <input type="checkbox" name="system.defence.armor.proficiency.light" id="lightArmor" {{checked system.defence.armor.proficiency.light}} />
            <label for="lightArmor">{{localize "sfrpgbb.armor.light"}}</label>
        </td>
        <td colspan=2>
            <input type="checkbox" name="system.defence.armor.proficiency.heavy" id="heavyArmor" {{checked system.defence.armor.proficiency.heavy}} />
            <label for="heavyArmor">{{localize "sfrpgbb.armor.heavy"}}</label>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td class="blueRow">{{localize "sfrpgbb.defence.savingThrows"}}</td>
        <td class="blueRow">{{localize "sfrpgbb.general.total"}}</td>
        <td class="blueRow">{{localize "sfrpgbb.ability.abilityMod"}}</td>
        <td class="blueRow" colspan=2>{{localize "sfrpgbb.general.class"}}</td>
        <td class="blueRow" colspan=2>{{localize "sfrpgbb.general.misc"}}</td>
    </tr>
    <tr>
        <td class="blockTitle">
            {{localize "sfrpgbb.defence.fortitudeSave"}}
        </td>
        <td class="blueBox rightThickBorder">
            <sup class="superscript">{{localize "sfrpgbb.general.total"}}</sup><br>
            {{numberFormat system.defence.save.fortitude.value decimals=0 sign=true}}
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.ability.con"}}</sup><br>
            {{numberFormat system.abilities.constitution.mod decimals=0}}
        </td>
        <td class="plus">
            <br>+
        </td>
        <td class="blockTitle">
            <br><input name="system.defence.save.fortitude.class" type="number" value="{{system.defence.save.fortitude.class}}" data-dtype="Number" />
        </td>
        <td class="plus">
            <br>+
        </td>
        <td class="blockTitle">
            <br><input name="system.defence.save.fortitude.misc" type="number" value="{{system.defence.save.fortitude.misc}}" data-dtype="Number" />
        </td>
    </tr>
    <tr>
        <td class="blockTitle">
            {{localize "sfrpgbb.defence.reflexSave"}}
        </td>
        <td class="blueBox rightThickBorder">
            <sup class="superscript">{{localize "sfrpgbb.general.total"}}</sup><br>
            {{numberFormat system.defence.save.reflex.value decimals=0 sign=true}}
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.ability.dex"}}</sup><br>
            {{numberFormat system.abilities.dexterity.mod decimals=0}}
        </td>
        <td class="plus">
            <br>+
        </td>
        <td class="blockTitle">
            <br><input name="system.defence.save.reflex.class" type="number" value="{{system.defence.save.reflex.class}}" data-dtype="Number" />
        </td>
        <td class="plus">
            <br>+
        </td>
        <td class="blockTitle">
            <br><input name="system.defence.save.reflex.misc" type="number" value="{{system.defence.save.reflex.misc}}" data-dtype="Number" />
        </td>
    </tr>
    <tr>
        <td class="blockTitle">
            {{localize "sfrpgbb.defence.willSave"}}
        </td>
        <td class="blueBox rightThickBorder">
            <sup class="superscript">{{localize "sfrpgbb.general.total"}}</sup><br>
            {{numberFormat system.defence.save.will.value decimals=0 sign=true}}
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.ability.wis"}}</sup><br>
            {{numberFormat system.abilities.wisdom.mod decimals=0}}
        </td>
        <td class="plus">
            <br>+
        </td>
        <td class="blockTitle">
            <br><input name="system.defence.save.will.class" type="number" value="{{system.defence.save.will.class}}" data-dtype="Number" />
        </td>
        <td class="plus">
            <br>+
        </td>
        <td class="blockTitle">
            <br><input name="system.defence.save.will.misc" type="number" value="{{system.defence.save.will.misc}}" data-dtype="Number" />
        </td>
    </tr>
</table>