<table>
    <tr>
        <th colspan="2">Ability Mods</th>
        <th colspan="2">Ability Scores</th>
    </tr>
    <tr>
        <td>STR</td>
        <td>{{numberFormat data.abilities.strength.mod decimals=0 sign=true}}</td>
        <td>STRENGTH</td>
        <td><input name="data.abilities.strength.value" type="text" value="{{data.abilities.strength.value}}" data-dtype="Number" /></td>
    </tr>
    <tr>
        <td>DEX</td>
        <td>{{numberFormat data.abilities.dexterity.mod decimals=0 sign=true}}</td>
        <td>DEXTERITY</td>
        <td><input name="data.abilities.dexterity.value" type="text" value="{{data.abilities.dexterity.value}}" data-dtype="Number" /></td>
    </tr>
    <tr>
        <td>CON</td>
        <td>{{numberFormat data.abilities.constitution.mod decimals=0 sign=true}}</td>
        <td>CONSTITUTION</td>
        <td><input name="data.abilities.constitution.value" type="text" value="{{data.abilities.constitution.value}}" data-dtype="Number" /></td>
    </tr>
    <tr>
        <td>INT</td>
        <td>{{numberFormat data.abilities.intelligence.mod decimals=0 sign=true}}</td>
        <td>INTELLIGENCE</td>
        <td><input name="data.abilities.intelligence.value" type="text" value="{{data.abilities.intelligence.value}}" data-dtype="Number" /></td>
    </tr>
    <tr>
        <td>WIS</td>
        <td>{{numberFormat data.abilities.wisdom.mod decimals=0 sign=true}}</td>
        <td>WISDOM</td>
        <td><input name="data.abilities.wisdom.value" type="text" value="{{data.abilities.wisdom.value}}" data-dtype="Number" /></td>
    </tr>
    <tr>
        <td>CHA</td>
        <td>{{numberFormat data.abilities.charisma.mod decimals=0 sign=true}}</td>
        <td>CHARISMA</td>
        <td><input name="data.abilities.charisma.value" type="text" value="{{data.abilities.charisma.value}}" data-dtype="Number" /></td>
    </tr>
</table>