<table>
    <tr>
        <th>{{localize "sfrpgbb.character.racialTraits"}}</th>
    </tr>
    <tr>
        <td><textarea name="data.information.racialTraits" value="{{data.information.racialTraits}}" type="text" data-dtype="String"></textarea></td>
    </tr>
</table>

<table>
    <tr>
        <th>{{localize "sfrpgbb.character.classFeatures"}}</th>
    </tr>
    <tr>
        <td><textarea name="data.information.classFeatures" value="{{data.information.classFeatures}}" type="text" data-dtype="String"></textarea></td>
    </tr>
</table>

<table>
    <tr>
        <th>{{localize "sfrpgbb.character.feats"}}</th>
    </tr>
    <tr>
        <td><textarea name="data.information.feats" value="{{data.information.feats}}" type="text" data-dtype="String"></textarea></td>
    </tr>
</table>