<table>
    <tr>
        <th colspan="4">{{localize "sfrpgbb.defence.defence"}}</th>
    </tr>
    <tr>
        <th colspan="2">{{localize "sfrpgbb.defence.hitPoints"}}</th>
        <th colspan="2">{{localize "sfrpgbb.defence.resolvePoints"}}</th>
    </tr>
    <tr>
        <td>
            <sup class="superscript">{{localize "sfrpgbb.general.total"}}</sup><br>
            <input name="data.defence.hp.max" type="text" value="{{data.defence.hp.max}}" />
        </td>
        <td>
            <sup class="superscript">{{localize "sfrpgbb.general.current"}}</sup><br>
            <input name="data.defence.hp.value" type="text" value="{{data.defence.hp.value}}" />
        </td>
        <td>
            <sup class="superscript">{{localize "sfrpgbb.general.total"}}</sup><br>
            <input name="data.defence.rp.max" type="text" value="{{data.defence.rp.max}}" />
        </td>
        <td>
            <sup class="superscript">{{localize "sfrpgbb.general.current"}}</sup><br>
            <input name="data.defence.rp.value" type="text" value="{{data.defence.rp.value}}" />
        </td>
    </tr>
</table>
<table>
    <tr>
        <td colspan="2">{{localize "sfrpgbb.defence.armorClassAC"}}</td>
        <td></td>
    </tr>
</table>