<table>
    <tr>
        <th>{{localize "sfrpgbb.character.racialTraits"}}</th>
    </tr>
    <tr>
        <td><textarea name="data.information.racialTraits" rows="4" type="text" data-dtype="String">{{breaklines data.information.racialTraits}}</textarea></td>
    </tr>
</table>

<table>
    <tr>
        <th>{{localize "sfrpgbb.character.classFeatures"}}</th>
    </tr>
    <tr>
        <td><textarea name="data.information.classFeatures" rows="6" type="text" data-dtype="String">{{breaklines data.information.classFeatures}}</textarea></td>
    </tr>
</table>

<table>
    <tr>
        <th>{{localize "sfrpgbb.character.feats"}}</th>
    </tr>
    <tr>
        <td><textarea name="data.information.feats" rows="4" type="text" data-dtype="String">{{breaklines data.information.feats}}</textarea></td>
    </tr>
</table>