<table>
    <tr>
        <th colspan="4">{{localize "sfrpgbb.defence.defence"}}</th>
    </tr>
    <tr>
        <th colspan="2">{{localize "sfrpgbb.defence.hitPoints"}}</th>
        <th colspan="2">{{localize "sfrpgbb.defence.resolvePoints"}}</th>
    </tr>
    <tr>
        <td>
            <sup class="superscript">{{localize "sfrpgbb.general.current"}}</sup><br>
            <input name="data.defence.hp.value" type="number" value="{{data.defence.hp.value}}" />
        </td>
        <td>
            <sup class="superscript">{{localize "sfrpgbb.general.total"}}</sup><br>
            <input name="data.defence.hp.max" type="number" value="{{data.defence.hp.max}}" />
        </td>
        <td>
            <sup class="superscript">{{localize "sfrpgbb.general.current"}}</sup><br>
            <input name="data.defence.rp.value" type="number" value="{{data.defence.rp.value}}" />
        </td>
        <td>
            <sup class="superscript">{{localize "sfrpgbb.general.total"}}</sup><br>
            <input name="data.defence.rp.max" type="number" value="{{data.defence.rp.max}}" />
        </td>
    </tr>
</table>
<table>
    <tr>
        <td class="blockTitle">
            {{localize "sfrpgbb.defence.armorClassAC"}}
        </td>
        <td class="blueBox rightThickBorder">
            <sup class="superscript">{{localize "sfrpgbb.general.total"}}</sup><br>
            {{numberFormat data.defence.armor.ac decimals=0}}
        </td>
        <td class="blockTitle">
            <br>10
        </td>
        <td class="plus">
            <br>+
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.ability.dex"}}</sup><br>
            {{numberFormat data.abilities.dexterity.mod decimals=0}}
        </td>
        <td class="plus">
            <br>+
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.defence.armor"}}</sup><br>
            {{numberFormat data.defence.armor.armorBonus decimals=0}}
        </td>
        <td class="plus">
            <br>+
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.general.misc"}}</sup><br>
            <input name="data.defence.armor.misc" type="number" value="{{data.defence.armor.misc}}" />
        </td>
    </tr>
    <tr>
        <td class="blockTitle">
            {{localize "sfrpgbb.defence.armor"}}
        </td>
        <td colspan=4 class="blockTitle">
            Worn Armor
        </td>
        <td colspan=4>
            <sup class="superscript">{{localize "sfrpgbb.defence.armorProficiencies"}}</sup><br>
            <input type="checkbox" name="data.defence.armor.proficiency.light" id="lightArmor" {{checked data.defence.armor.proficiency.light}} />
            <label for="lightArmor">{{localize "sfrpgbb.defence.light"}}</label>
            <input type="checkbox" name="data.defence.armor.proficiency.heavy" id="heavyArmor" {{checked data.defence.armor.proficiency.heavy}} />
            <label for="heavyArmor">{{localize "sfrpgbb.defence.heavy"}}</label>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td class="blueRow">{{localize "sfrpgbb.defence.savingThrows"}}</td>
        <td class="blueRow">{{localize "sfrpgbb.general.total"}}</td>
        <td class="blueRow">{{localize "sfrpgbb.ability.abilityMod"}}</td>
        <td class="blueRow" colspan=2>{{localize "sfrpgbb.general.class"}}</td>
        <td class="blueRow" colspan=2>{{localize "sfrpgbb.general.misc"}}</td>
    </tr>
    <tr>
        <td class="blockTitle">
            {{localize "sfrpgbb.defence.fortitudeSave"}}
        </td>
        <td class="blueBox rightThickBorder">
            <sup class="superscript">{{localize "sfrpgbb.general.total"}}</sup><br>
            {{numberFormat data.defence.save.fortitude.value decimals=0}}
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.ability.con"}}</sup><br>
            {{numberFormat data.abilities.constitution.mod decimals=0}}
        </td>
        <td class="plus">
            <br>+
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.general.misc"}}</sup><br>
            <input name="data.defence.save.fortitude.class" type="number" value="{{data.defence.save.fortitude.class}}" />
        </td>
        <td class="plus">
            <br>+
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.general.misc"}}</sup><br>
            <input name="data.defence.save.fortitude.misc" type="number" value="{{data.defence.save.fortitude.misc}}" />
        </td>
    </tr>
    <tr>
        <td class="blockTitle">
            {{localize "sfrpgbb.defence.reflexSave"}}
        </td>
        <td class="blueBox rightThickBorder">
            <sup class="superscript">{{localize "sfrpgbb.general.total"}}</sup><br>
            {{numberFormat data.defence.save.reflex.value decimals=0}}
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.ability.dex"}}</sup><br>
            {{numberFormat data.abilities.dexterity.mod decimals=0}}
        </td>
        <td class="plus">
            <br>+
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.general.misc"}}</sup><br>
            <input name="data.defence.save.reflex.class" type="number" value="{{data.defence.save.reflex.class}}" />
        </td>
        <td class="plus">
            <br>+
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.general.misc"}}</sup><br>
            <input name="data.defence.save.reflex.misc" type="number" value="{{data.defence.save.reflex.misc}}" />
        </td>
    </tr>
    <tr>
        <td class="blockTitle">
            {{localize "sfrpgbb.defence.willSave"}}
        </td>
        <td class="blueBox rightThickBorder">
            <sup class="superscript">{{localize "sfrpgbb.general.total"}}</sup><br>
            {{numberFormat data.defence.save.will.value decimals=0}}
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.ability.wis"}}</sup><br>
            {{numberFormat data.abilities.wisdom.mod decimals=0}}
        </td>
        <td class="plus">
            <br>+
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.general.misc"}}</sup><br>
            <input name="data.defence.save.will.class" type="number" value="{{data.defence.save.will.class}}" />
        </td>
        <td class="plus">
            <br>+
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.general.misc"}}</sup><br>
            <input name="data.defence.save.will.misc" type="number" value="{{data.defence.save.will.misc}}" />
        </td>
    </tr>
</table>