<table>
    <tr>
        <th colspan="5">{{localize "sfrpgbb.movement.initiative"}}</th>
        <th colspan="2">{{localize "sfrpgbb.movement.speed"}}</th>
    </tr>
    <tr>
        <td class="blockTitle">
            {{localize "sfrpgbb.general.total"}}
        </td>
        <td class="blueBox rightThickBorder">
            {{numberFormat data.movement.initiative decimals=0 sign=true}}
        </td>
        <td class="blockTitle">
            <sup class="superscript">{{localize "sfrpgbb.ability.dex"}}</sup><br>
            {{numberFormat data.abilities.dexterity.mod decimals=0}}
        </td>
        <td class="plus">
            +
        </td>
        <td class="blockTitle rightThickBorder">
            <sup class="superscript">{{localize "sfrpgbb.general.misc"}}</sup><br>
            <input name="data.movement.miscInitiative" type="number" value="{{data.movement.miscInitiative}}" data-dtype="Number" />
        </td>
        <td class="blueBox">
            {{numberFormat data.movement.speed decimals=0}}
        </td>
        <td class="blockTitle">
            {{localize "sfrpgbb.movement.feet"}}
        </td>
    </tr>
</table>