<table>
    <!-- Title -->
    <tr>
        <th colspan="9">{{localize "sfrpgbb.skill.skills"}}</th>
    </tr>

    <!-- Blue Header Row -->
    <tr>
        <td class="blueRow"> {{localize "sfrpgbb.skill.skill"}}</td>
        <td class="blueRow"> {{localize "sfrpgbb.general.total"}}</td>
        <td class="blueRow"> {{localize "sfrpgbb.ability.abilityMod"}}</td>
        <td class="blueRow" colspan=2> {{localize "sfrpgbb.general.class"}}</td>
        <td class="blueRow" colspan=2> {{localize "sfrpgbb.skill.trained"}} ({{localize "sfrpgbb.general.level"}})</td>
        <td class="blueRow" colspan=2> {{localize "sfrpgbb.general.misc"}}</td>
    </tr>

    {{#each system.skills as |skill s|}}
    {{#if (isEqual s "themeKnowledge" false)}}
    <tr>
        <td class="blockTitle"><a class="btn-roll" title="{{s}}" data-action-value="{{skill.value}}">{{localize (concat "sfrpgbb.skill." s)}}</a></td>
        <td class="blueBox rightThickBorder">{{numberFormat skill.value decimals=0 sign=true}}</td>
        <td>
            <sup class="superscript">{{localize (concat "sfrpgbb.ability." skill.abilityName)}}</sup><br>
            {{numberFormat skill.abilityMod decimals=0}}
        </td>
        <td class="plus">+</td>
        <td class="blockTitle skillBox">
            <div>
                <input type="checkbox" name="system.skills.{{s}}.classSkill" {{checked skill.classSkill}} />
            </div>
            <div>
                {{numberFormat skill.class decimals=0}}
            </div>
        </td>
        <td class="plus">+</td>
        <td class="blockTitle skillBox">
            <div>
                <input type="checkbox" name="system.skills.{{s}}.trainedSkill" {{checked skill.trainedSkill}} {{#if skill.classSkill}} disabled="disabled" {{/if}}/>
            </div>
            <div>
                {{numberFormat skill.level decimals=0}}
            </div>
        </td>
        <td class="plus">+</td>
        <td class="blockTitle">
            <input name="system.skills.{{s}}.misc" type="number" value="{{skill.misc}}" data-dtype="Number" />
        </td>
    </tr>
    {{/if}}
    {{/each}}

    <!-- Theme Knowledge -->
    <tr>
        <td colspan=2 class="blockTitle">{{localize "sfrpgbb.skill.themeKnowledge"}}</td>
        <td colspan=7><textarea name="system.skills.themeKnowledge" rows="2" type="text" data-dtype="String">{{breaklines system.skills.themeKnowledge}}</textarea></td>
    </tr>
</table>