<h2 style="text-align: center;">{{localize "sfrpgbb.equipment.itemsAndEquipment"}}</h2>

<ol class="items-list">
    <li class="item flexrow item-header">
        <div class="item-image"><h3></h3></div>
        <div class="item-name" style="flex-grow: 2;"><h3>{{localize "sfrpgbb.general.name"}}</h3></div>
        <div class="item-type"><h3>{{localize "sfrpgbb.general.type"}}</h3></div>
        <div class="item-controls">
            <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
        </div>
    </li>
    {{#each data.weapons as |item id|}}
    <li class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/></div>
        <div class="item-name" style="flex-grow: 2;"><a class="item-control item-edit" title="Edit Item"><h4 class="item-name">{{item.name}}</h4></a></div>
        <div class="item-type">{{item.type}}</div>
        <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
    {{#each data.armor as |item id|}}
    <li class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/></div>
        <div class="item-name" style="flex-grow: 2;"><a class="item-control item-edit" title="Edit Item"><h4 class="item-name">{{item.name}}</h4></a></div>
        <div class="item-type">{{item.type}}</div>
        <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
    {{#each data.equipment as |item id|}}
    <li class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/></div>
        <div class="item-name" style="flex-grow: 2;"><a class="item-control item-edit" title="Edit Item"><h4 class="item-name">{{item.name}}</h4></a></div>
        <div class="item-type">{{item.type}}</div>
        <div class="item-controls">
            <a class="item-control item-delete" title="Delete Spell"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
</ol>