<h2>{{localize "sfrpgbb.equipment.equipment"}}</h2>

<div class="credits"><b>{{localize "sfrpgbb.equipment.credits"}}: </b> <input name="system.information.credits" type="number" value="{{system.information.credits}}" data-dtype="Number" /> CR</div>

<div class="item-wrapper">
    {{#each system.meleeWeapons as |item id|}}
    <div class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" data-tooltip="{{item.name}}" width="24" height="24"/></div>
        <div class="item-name"><a class="item-control item-edit" data-tooltip="Edit Item">{{item.name}}</a></div>
        <div class="item-quantity"><input type="number" value="{{item.system.quantity}}" data-dtype="Number" /></div>
        <div class="item-controls">
            <a class="item-control item-delete" data-tooltip="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    {{/each}}

    {{#each system.rangedWeapons as |item id|}}
    <div class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" data-tooltip="{{item.name}}" width="24" height="24"/></div>
        <div class="item-name"><a class="item-control item-edit" data-tooltip="Edit Item">{{item.name}}</a></div>
        <div class="item-quantity"><input type="number" value="{{item.system.quantity}}" data-dtype="Number" /></div>
        <div class="item-controls">
            <a class="item-control item-delete" data-tooltip="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    {{/each}}

    {{#each system.armor as |item id|}}
    <div class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" data-tooltip="{{item.name}}" width="24" height="24"/></div>
        <div class="item-name"><a class="item-control item-edit" data-tooltip="Edit Item">{{item.name}}</a></div>
        <div class="item-quantity"><input type="number" value="{{item.system.quantity}}" data-dtype="Number" /></div>
        <div class="item-controls">
            <a class="item-control item-delete" data-tooltip="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    {{/each}}

    {{#each system.equipment as |item id|}}
    <div class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" data-tooltip="{{item.name}}" width="24" height="24"/></div>
        <div class="item-name"><a class="item-control item-edit" data-tooltip="Edit Item">{{item.name}}</a></div>
        <div class="item-quantity"><input type="number" value="{{item.system.quantity}}" data-dtype="Number" /></div>
        <div class="item-controls">
            <a class="item-control item-delete" data-tooltip="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    {{/each}}
</div>