<div class="topRow">
    <div class="name"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "sfrpgbb.character.name"}}"/></div>
    <div class="alignment">
        <select name="system.information.alignment">
            {{#select system.information.alignment}}
            {{#each config.alignments as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>
<div class="middleRow">
    <div class="initiative">
        <b>{{localize "sfrpgbb.movement.initiative"}} :&nbsp;</b> {{#fetchPositive system.movement.initiative}}{{/fetchPositive}}
        <input name="system.movement.initiative" type="number" value="{{system.movement.initiative}}" placeholder="+0" data-dtype="Number"/>
    </div>
    <div class="speed">
        <b>{{localize "sfrpgbb.movement.speed"}} :&nbsp;</b>
        <input name="system.movement.speed" type="number" value="{{system.movement.speed}}" placeholder="0" data-dtype="Number"/>
        &nbsp;{{localize "sfrpgbb.general.ft"}}
    </div>
    <div class="cr">
        <b>{{localize "sfrpgbb.character.cr"}} :&nbsp;</b>
        <input name="system.information.cr" type="text" value="{{system.information.cr}}" placeholder="1/2" data-dtype="String"/>
    </div>
    <div class="xp">
        <b>{{localize "sfrpgbb.character.xp"}} :&nbsp;</b>
        {{numberFormat system.information.xp decimals=0}}
    </div>
    <div class="hp">
        <b>{{localize "sfrpgbb.defence.hp"}} :&nbsp;</b>
        <input name="system.defence.hp.value" type="number" value="{{system.defence.hp.value}}" placeholder="10" data-dtype="Number"/>
        &nbsp;/&nbsp;<input name="system.defence.hp.max" type="number" value="{{system.defence.hp.max}}" placeholder="10" data-dtype="Number"/>
    </div>
</div>
<div class="bottomRow">
    <div class="darkvision">
        <b>{{localize "sfrpgbb.sense.darkvision"}} :&nbsp;</b>
        <input type="checkbox" name="system.senses.darkvision.hasDarkvision" {{checked system.senses.darkvision.hasDarkvision}} />
        {{#if system.senses.darkvision.hasDarkvision}}
        <input name="system.senses.darkvision.range" type="number" value="{{system.senses.darkvision.range}}" placeholder="10" data-dtype="Number"/>
        &nbsp;{{localize "sfrpgbb.general.ft"}}
        {{/if}}
    </div>
    <div class="seeInvisible">
        <b>{{localize "sfrpgbb.sense.seeInvisibility"}} :&nbsp;</b>
        <input type="checkbox" name="system.senses.seeInvisible" {{checked system.senses.seeInvisible}} />
    </div>
    <div class="perception">
        <b>{{localize "sfrpgbb.skill.perception"}} :&nbsp;</b> {{#fetchPositive system.skills.perception.value}}{{/fetchPositive}}
        <input name="system.skills.perception.value" type="number" value="{{system.skills.perception.value}}" placeholder="{{system.abilities.wisdom.mod}}"  data-dtype="Number"/>
    </div>
</div>