<h2>{{localize "sfrpgbb.attack.offence"}}</h2>
<div class="wrapper-movement">
    {{#if (hasData data.npcAbilities.movement)}}
    <b class="label">{{localize "sfrpgbb.movement.movement"}}:&nbsp;</b>
    {{#each data.npcAbilities.movement as |item id|}}
    <div class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
        <div class="item-name"><b><a class="item-control item-edit" title="Edit Item">{{item.name}}</a></b></div>
        {{#if (isEqual item.data.data.value null false)}}<div class="item-quantity"><input type="number" value="{{item.data.data.value}}" data-dtype="Number" /></div>{{/if}}
    </div>
    {{/each}}
    {{/if}}
</div>

<div class="wrapper-melee">
    {{#if (hasData data.meleeWeapons)}}
    <b class="label">{{localize "sfrpgbb.attack.meleeWeapon"}}:&nbsp;</b>
    {{#each data.meleeWeapons as |item id|}}
    <div class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
        <div class="item-name">
            <a class="item-control item-edit" title="Edit Item">{{item.name}}</a> {{numberFormat ../data.attack.melee.attackBonus decimals=0 sign=true}}
            {{#if (isEqual item.data.data.damageType "none" true)}}
                ({{localize "sfrpgbb.npc.noDamage"}})
            {{/if}}
            {{#if (isEqual item.data.data.damageType "none" false)}}
                ({{item.data.data.damage}}{{numberFormat ../data.attack.melee.damageBonus decimals=0 sign=true}} {{item.data.data.damageType}})
            {{/if}}
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>

<div class="wrapper-melee">
    {{#if data.attack.multiattack}}
    <b class="label">{{localize "sfrpgbb.npc.multiattack"}}:&nbsp;</b>
    {{#each data.meleeWeapons as |item id|}}
    <div class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
        <div class="item-name">
            <a class="item-control item-edit" title="Edit Item">{{item.name}}</a> {{numberFormat ../data.attack.melee.attackBonus decimals=0 sign=true}}
            {{#if (isEqual item.data.data.damageType "none" true)}}
                ({{localize "sfrpgbb.npc.noDamage"}})
            {{/if}}
            {{#if (isEqual item.data.data.damageType "none" false)}}
                ({{item.data.data.damage}}{{numberFormat ../data.attack.melee.damageBonus decimals=0 sign=true}} {{item.data.data.damageType}})
            {{/if}}
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>

<div class="wrapper-ranged">
    {{#if (hasData data.rangedWeapons)}}
    <b class="label">{{localize "sfrpgbb.attack.rangedWeapon"}}:&nbsp;</b>
    {{#each data.rangedWeapons as |item id|}}
    <div class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
        <div class="item-name">
            <a class="item-control item-edit" title="Edit Item">{{item.name}}</a> {{numberFormat ../data.attack.ranged.attackBonus decimals=0 sign=true}}
            {{#if (isEqual item.data.data.damageType "none" true)}}
                ({{localize "sfrpgbb.npc.noDamage"}})
            {{/if}}
            {{#if (isEqual item.data.data.damageType "none" false)}}
                ({{item.data.data.damage}}{{#if (isEqual item.data.type "grenade" false)}}{{numberFormat ../data.attack.ranged.damageBonus decimals=0 sign=true}}{{/if}} {{item.data.data.damageType}}{{#if (isEqual item.data.type "grenade" true)}}, {{item.data.data.saveType}} {{localize "sfrpgbb.general.dc"}} {{item.data.data.saveDC}}{{/if}})
            {{/if}}
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>

<div class="wrapper-spells">
    {{#if (hasData data.spellList.two)}}
    <b class="label">{{localize "sfrpgbb.spell.secondLevel"}} {{localize "sfrpgbb.spell.spells"}} [<div class="slots"><input type="number" name="data.spells.lvl2.max" value="{{data.spells.lvl2.max}}" data-dtype="Number" /></div>&nbsp;{{localize "sfrpgbb.spell.slot-s"}}]:&nbsp;</b>
    {{#each data.spellList.two as |item id|}}
    <div class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
        <div class="item-name"><a class="item-control item-edit" title="Edit Item">{{item.name}}</a> </div>
        <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>

<div class="wrapper-spells">
    {{#if (hasData data.spellList.one)}}
    <b class="label">{{localize "sfrpgbb.spell.firstLevel"}} {{localize "sfrpgbb.spell.spells"}} [<div class="slots"><input type="number" name="data.spells.lvl1.max" value="{{data.spells.lvl1.max}}" data-dtype="Number" /></div>&nbsp;{{localize "sfrpgbb.spell.slot-s"}}]:&nbsp;</b>
    {{#each data.spellList.one as |item id|}}
    <div class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
        <div class="item-name"><a class="item-control item-edit" title="Edit Item">{{item.name}}</a> </div>
        <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>

<div class="wrapper-spells">
    {{#if (hasData data.spellList.zero)}}
    <b class="label">{{localize "sfrpgbb.spell.zeroLevel"}} {{localize "sfrpgbb.spell.spells"}}:&nbsp;</b>
    {{#each data.spellList.zero as |item id|}}
    <div class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
        <div class="item-name"><a class="item-control item-edit" title="Edit Item">{{item.name}}</a> </div>
        <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>

<div class="wrapper-other">
    {{#if (hasData data.npcAbilities.offence)}}
    <b class="label">{{localize "sfrpgbb.attack.offensiveAbilities"}}: </b>
    {{#each data.npcAbilities.offence as |item id|}}
    <div class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
        <div class="item-name"><a class="item-control item-edit" title="Edit Item">{{item.name}}</a></div>
    </div>
    {{/each}}
    {{/if}}
</div>

<div class="wrapper-selector">

    <div class="row1">
        <div class="attack-melee">
            <b class="label">{{localize "sfrpgbb.npc.meleeAttack"}}</b>
            <div class="bonus">{{fetchPositive data.attack.melee.attackBonus}} <input name="data.attack.melee.attackBonus" type="number" value="{{data.attack.melee.attackBonus}}" data-dtype="Number" /></div>
        </div>
        <div class="damage-melee">
            <b class="label">{{localize "sfrpgbb.npc.meleeDamage"}}</b>
            <div class="bonus">{{fetchPositive data.attack.melee.damageBonus}} <input name="data.attack.melee.damageBonus" type="number" value="{{data.attack.melee.damageBonus}}" data-dtype="Number" /></div>
        </div>
        <div class="attack-ranged">
            <b class="label">{{localize "sfrpgbb.npc.rangedAttack"}}</b>
            <div class="bonus">{{fetchPositive data.attack.ranged.attackBonus}} <input name="data.attack.ranged.attackBonus" type="number" value="{{data.attack.ranged.attackBonus}}" data-dtype="Number" /></div>
        </div>
        <div class="damage-ranged">
            <b class="label">{{localize "sfrpgbb.npc.rangedDamage"}}</b>
            <div class="bonus">{{fetchPositive data.attack.ranged.damageBonus}} <input name="data.attack.ranged.damageBonus" type="number" value="{{data.attack.ranged.damageBonus}}" data-dtype="Number" /></div>
        </div>
        <div class="attack-multi">
            <b class="label">{{localize "sfrpgbb.npc.multiattack"}}</b>
            <input name="data.attack.multiattack" type="checkbox" {{checked data.attack.multiattack}} />
        </div>
        <div class="caster-select">
            <b class="label">{{localize "sfrpgbb.npc.isCaster"}}</b>
            <input name="data.spells.isCaster" type="checkbox" {{checked data.spells.isCaster}} />
        </div>
    </div>
    
    <div class="row2">
        {{#if data.spells.isCaster}}
        <div class="caster-bonus">
            <b class="label">{{localize "sfrpgbb.npc.spellDCBonus"}}</b>
            <div class="bonus">{{fetchPositive data.spells.spellDCBonus}} <input name="data.spells.spellDCBonus" type="number" value="{{data.spells.spellDCBonus}}" data-dtype="Number" /></div>
        </div>
        <div class="caster-type">
            <b class="label">{{localize "sfrpgbb.npc.casterType"}}</b>
            <select name="data.spells.casterType">
                {{#select data.spells.casterType}}
                    {{#each config.casterClasses as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        {{/if}}
    </div>

</div>

<!-- The above is temporary, will do something a little nicer later when I have more time -->