<h2>{{localize "sfrpgbb.defence.defence"}}</h2>
<div class="ac">
    <b>{{localize "sfrpgbb.defence.ac"}}</b>: <input name="data.defence.armor.ac" type="number" value="{{data.defence.armor.ac}}" placeholder="10" data-dtype="Number"/>
</div>
<div class="saves">
    <b>{{localize "sfrpgbb.defence.fortitude"}}</b>: {{fetchPositive data.defence.save.fortitude.value}}<input name="data.defence.save.fortitude.value" type="number" value="{{data.defence.save.fortitude.value}}" placeholder="0" data-dtype="Number"/>,&nbsp;
    <b>{{localize "sfrpgbb.defence.reflex"}}</b>: {{fetchPositive data.defence.save.reflex.value}}<input name="data.defence.save.reflex.value" type="number" value="{{data.defence.save.reflex.value}}" placeholder="0" data-dtype="Number"/>,&nbsp;
    <b>{{localize "sfrpgbb.defence.will"}}</b>: {{fetchPositive data.defence.save.will.value}}<input name="data.defence.save.will.value" type="number" value="{{data.defence.save.will.value}}" placeholder="0" data-dtype="Number"/>
</div>

<div class="extra-wrapper">
    {{#if (hasData data.npcAbilities.defence)}}
    <b class="label">{{localize "sfrpgbb.defence.defensiveAbilities"}}: </b>
    {{#each data.npcAbilities.defence as |item id|}}
    <div class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
        <div class="item-name"><a class="item-control item-edit" title="Edit Item">{{item.name}}</a></div>
        {{#if (isEqual item.data.data.value null false)}}<div class="item-quantity"><input type="number" value="{{item.data.data.value}}" data-dtype="Number" /></div>{{/if}}
    </div>
    {{/each}}
    &nbsp;&nbsp;&nbsp;
    {{/if}}

    {{#if (hasData data.npcAbilities.immunity)}}
    <b class="label">{{localize "sfrpgbb.defence.immunities"}}: </b>
    {{#each data.npcAbilities.immunity as |item id|}}
    <div class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
        <div class="item-name"><a class="item-control item-edit" title="Edit Item">{{item.name}}</a></div>
    </div>
    {{/each}}
    &nbsp;&nbsp;&nbsp;
    {{/if}}
    
    {{#if (hasData data.npcAbilities.energyResist)}}
    <b class="label">{{localize "sfrpgbb.defence.energyResist"}}: </b>
    {{#each data.npcAbilities.energyResist as |item id|}}
    <div class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
        <div class="item-name"><a class="item-control item-edit" title="Edit Item">{{item.name}}</a></div>
        {{#if (isEqual item.data.data.value null false)}}<div class="item-quantity"><input type="number" value="{{item.data.data.value}}" data-dtype="Number" /></div>{{/if}}
    </div>
    {{/each}}
    &nbsp;&nbsp;&nbsp;
    {{/if}}

    {{#if (hasData data.npcAbilities.weakness)}}
    <b class="label">{{localize "sfrpgbb.defence.weaknesses"}}: </b>
    {{#each data.npcAbilities.weakness as |item id|}}
    <div class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
        <div class="item-name"><a class="item-control item-edit" title="Edit Item">{{item.name}}</a></div>
    </div>
    {{/each}}
    &nbsp;&nbsp;&nbsp;
    {{/if}}
</div>