<h2>{{localize "sfrpgbb.general.statistics"}}</h2>
<div class="abilities">
    <b>{{localize "sfrpgbb.ability.str"}}</b>: {{#fetchPositive data.abilities.strength.mod}}{{/fetchPositive}}<input name="data.abilities.strength.mod" type="number" value="{{data.abilities.strength.mod}}" placeholder="0" data-dtype="Number"/>,&nbsp;
    <b>{{localize "sfrpgbb.ability.dex"}}</b>: {{#fetchPositive data.abilities.dexterity.mod}}{{/fetchPositive}}<input name="data.abilities.dexterity.mod" type="number" value="{{data.abilities.dexterity.mod}}" placeholder="0" data-dtype="Number"/>,&nbsp;
    <b>{{localize "sfrpgbb.ability.con"}}</b>: {{#fetchPositive data.abilities.constitution.mod}}{{/fetchPositive}}<input name="data.abilities.constitution.mod" type="number" value="{{data.abilities.constitution.mod}}" placeholder="0" data-dtype="Number"/>,&nbsp;
    <b>{{localize "sfrpgbb.ability.int"}}</b>: {{#fetchPositive data.abilities.intelligence.mod}}{{/fetchPositive}}<input name="data.abilities.intelligence.mod" type="number" value="{{data.abilities.intelligence.mod}}" placeholder="0" data-dtype="Number"/>,&nbsp;
    <b>{{localize "sfrpgbb.ability.wis"}}</b>: {{#fetchPositive data.abilities.wisdom.mod}}{{/fetchPositive}}<input name="data.abilities.wisdom.mod" type="number" value="{{data.abilities.wisdom.mod}}" placeholder="0" data-dtype="Number"/>,&nbsp;
    <b>{{localize "sfrpgbb.ability.cha"}}</b>: {{#fetchPositive data.abilities.charisma.mod}}{{/fetchPositive}}<input name="data.abilities.charisma.mod" type="number" value="{{data.abilities.charisma.mod}}" placeholder="0" data-dtype="Number"/>
</div>
<div class="skills">
    <b>{{localize "sfrpgbb.ability.str"}}</b>: {{#fetchPositive data.abilities.strength.mod}}{{/fetchPositive}}<input name="data.abilities.strength.mod" type="number" value="{{data.abilities.strength.mod}}" placeholder="0" data-dtype="Number"/>,&nbsp;
    <b>{{localize "sfrpgbb.ability.dex"}}</b>: {{#fetchPositive data.abilities.dexterity.mod}}{{/fetchPositive}}<input name="data.abilities.dexterity.mod" type="number" value="{{data.abilities.dexterity.mod}}" placeholder="0" data-dtype="Number"/>
</div>