<h2>{{localize "sfrpgbb.attack.offence"}}</h2>
<div class="wrapper-selector">
    <!-- -->
</div>

<div class="wrapper-movement">
    {{#if (hasData data.npcAbilities.movement)}}
    {{#each data.npcAbilities.movement as |item id|}}
    <div class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
        <div class="item-name"><b><a class="item-control item-edit" title="Edit Item">{{item.name}}</a></b></div>
        <div class="item-quantity"><input type="number" value="{{item.data.data.value}}" data-dtype="Number" /></div>
        <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>

<div class="wrapper-melee">
    <!-- -->
</div>

<div class="wrapper-ranged">
    <!-- -->
</div>

<div class="wrapper-other">
    <!-- -->
</div>

{{editor content=data.attack.description target="data.attack.description" button=true owner=owner editable=true}}

<!-- The above is temporary, will do something a little nicer later when I have more time
<div class="selectors">
    selectors - Melee Attack Bonus, Ranged Attack Bonus, IsCaster, Spell Class (Tech or Mystic), Multiattack
</div>
<div class="melee">
    melee
</div>
<div class="Ranged">
    ranged
</div>
<div class="Spells">
    spells
</div> -->