<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="icon" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize "sfrpgbb.general.name" }}"/></h1>
    </header>
    <div class="sheet-content">
        <table>

            <tr>
                <th>{{localize "sfrpgbb.equipment.price"}}</th>
                <th>{{localize "sfrpgbb.armor.armorType"}}</th>
                <th colspan=2>{{localize "sfrpgbb.armor.acBonus"}}</th>
            </tr>

            <tr>
                <td>
                    <input name="system.price" type="number" value="{{system.price}}" data-dtype="Number" />
                </td>
                <td>
                    <select name="system.armorType">
                        {{#select system.armorType}}
                        {{#each config.armorTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td colspan=2>
                    <input name="system.ac" type="number" value="{{system.ac}}" data-dtype="Number" />
                </td>
            </tr>

            <tr>
                <th colspan=2>{{localize "sfrpgbb.armor.upgrade"}}</th>
                <th>{{localize "sfrpgbb.equipment.isTech"}}</th>
                <th>{{localize "sfrpgbb.equipment.isMagic"}}</th>
            </tr>

            <tr>
                <td colspan=2>
                    <input name="system.upgrade" type="text" value="{{system.upgrade}}" />
                </td>
                <td>
                    <input name="system.isTech" type="checkbox" {{checked system.isTech}} />
                </td>
                <td>
                    <input name="system.isMagic" type="checkbox" {{checked system.isMagic}} />
                </td>
            </tr>

        </table>

        <b>{{localize "sfrpgbb.equipment.armor"}} - {{localize "sfrpgbb.general.description"}}</b>
        {{editor system.description target="system.description" button=true owner=owner editable=true}}
    </div>
</form>
