<header class="{{cssClass}}" autocomplete="off">
    <div class="leftColumn">
        <div class="information">
            {{> "systems/sfrpgbb/templates/partials/character-information.hbs"}}
        </div>
        <div>
            <button onclick="openPage('characterSheet', 'equipment')">Character Sheet</button>
        </div>
    </div>
    <div class="rightColumn">
        <div class="image">
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="160" width="160" style="display: block; margin-left: auto; margin-right: auto;"/>
        </div>
        <div>
            <button onclick="openPage('equipment', 'characterSheet')">Equipment and Spells</button>
        </div>
    </div>
</header>

<form class="{{cssClass}}" id="characterSheet" autocomplete="off">
    <div class="leftColumn">
        <div class="abilities">
            {{> "systems/sfrpgbb/templates/partials/character-abilities.hbs"}}
        </div>
        <div class="skills">
            {{> "systems/sfrpgbb/templates/partials/character-skills.hbs"}}
        </div>
        <div class="traits">
            {{> "systems/sfrpgbb/templates/partials/character-traits-features-feats.hbs"}}
        </div>
    </div>
    <div class="rightColumn">
        <div class="movement">
            {{> "systems/sfrpgbb/templates/partials/character-movement.hbs"}}
        </div>
        <div class="defence">
            {{> "systems/sfrpgbb/templates/partials/character-defence.hbs"}}
        </div>
        <div class="attack">
            {{> "systems/sfrpgbb/templates/partials/character-attack.hbs"}}
        </div>
        <div class="proficiencies">
            {{> "systems/sfrpgbb/templates/partials/character-proficiencies.hbs"}}
        </div>
        <div class="spells">
            {{> "systems/sfrpgbb/templates/partials/character-spells.hbs"}}
        </div>
    </div>
</form>

<form class="{{cssClass}}" id="equipment" autocomplete="off">
    <div class="leftColumn">
        Stuff and whatnot
    </div>
    <div class="rightColumn">
        more stuff here
    </div>
</form>


<script>
function openPage(onPage, offPage) {
    var x = document.getElementById(onPage)
    var y = document.getElementById(offPage)
    x.style.display = "flex";
    y.style.display = "none";
}
window.onload = openPage('characterSheet', 'equipment');
</script>