<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="icon" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize "sfrpgbb.general.name" }}"/></h1>
    </header>
    <div class="sheet-content">
        <table>

            <tr>
                <th>{{localize "sfrpgbb.npc.abilityType"}}</th>
                <th>{{localize "sfrpgbb.weapon.damageType"}}</th>
                <th>{{localize "sfrpgbb.npc.value"}}</th>
            </tr>

            <tr>
                <td>
                    <select name="system.type">
                        {{#select system.type}}
                        {{#each config.npcAbilityTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="system.damageType">
                        {{#select system.damageType}}
                        {{#each config.damageTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.value" type="number" value="{{system.value}}" placeholder="{{localize "sfrpgbb.npc.units" }}" data-dtype="Number" />
                </td>
            </tr>

        </table>
        <b>{{localize "TYPES.Item.npcability"}} - {{localize "sfrpgbb.general.description"}}</b>
        {{editor system.description target="system.description" button=true owner=owner editable=true}}
    </div>
</form>