<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div style="flex: 0 0 72px;">
            <img class="icon" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        </div>
        <div class="spellName" style="flex-grow: 4;">
            <h3><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize "sfrpgbb.general.name" }}"/></h3>
            <div><b>{{localize "sfrpgbb.general.level"}} - </b> <input name="system.level" style="width: 10%; text-align: center;" type="number" value="{{system.level}}" data-dtype="Number" /></div>
        </div>
        <div style="flex-grow: 2;">
            <select name="system.type">
                {{#select system.type}}
                {{#each config.spellTypes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div style="flex: 0 0 72px;">
            {{#switch system.type}}
                {{#case "targetsAllies"}}
                    {{"config.spellImages.targetsAllies"}}
                    <img class="icon" src="{{config.spellImages.targetsAllies}}" height="64" width="64"/>
                {{/case}}
                {{#case "targetsEnemies"}}
                    {{"config.spellImages.targetsEnemies"}}
                    <img class="icon" src="{{config.spellImages.targetsEnemies}}" height="64" width="64"/>
                {{/case}}
                {{#case "utilitySpell"}}
                    {{"config.spellImages.utilitySpell"}}
                    <img class="icon" src="{{config.spellImages.utilitySpell}}" height="64" width="64"/>
                {{/case}}
            {{/switch}}
        </div>
    </header>

    <div class="sheet-content">
        <table>
            <tr>
                <th colspan=2 style="text-align: left;"><b>{{localize "sfrpgbb.spell.range"}} - </b> <input name="system.range" style="width: 70%" type="text" value="{{system.range}}" data-dtype="String" /></th>
                <th colspan=2 style="text-align: right;"><b>{{localize "sfrpgbb.spell.duration"}} - </b> <input name="system.duration" style="width: 60%" type="text" value="{{system.duration}}" data-dtype="String" /></th>
            </tr>

            <tr>
                <th>{{localize "sfrpgbb.attack.meleeAttack"}}</th>
                <th>{{localize "sfrpgbb.attack.rangedAttack"}}</th>
                <th>{{localize "sfrpgbb.spell.hasSave"}}</th>
                <th>{{localize "sfrpgbb.defence.saveType"}}</th>
            </tr>

            <tr>
                <td>
                    <input name="system.meleeAttack" type="checkbox" {{checked system.meleeAttack}} />
                </td>
                <td>
                    <input name="system.rangedAttack" type="checkbox" {{checked system.rangedAttack}} />
                </td>
                <td>
                    <input name="system.hasSave" type="checkbox" {{checked system.hasSave}} />
                </td>
                <td>
                    <select name="system.saveType">
                        {{#select system.saveType}}
                        {{#each config.saveTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>

        </table>
        <div class="editor">
            <b>{{localize "sfrpgbb.spell.spell"}} - {{localize "sfrpgbb.general.description"}}</b>
            {{editor system.description target="system.description" button=true owner=owner editable=true}}
        </div>
    </div>
</form>